.libs/

error.log

*.o
*.lo
*.la
*.a
*.so
*.t

/examples/demo
/examples/demo-pen
/examples/demo-rgb8
/examples/demo-scroll
/examples/demo-termctl
/examples/demo-xterm256
/examples/evloop-glib
/examples/evloop-libuv
